.container-footer {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}

.linea {
    width: 80%;
    margin: 0 auto;
}


hr {
    width: 100%;
    height: 3px;
    background-color: #949494;
}

.logo-footer  {
    margin: 0 auto;  
}

.logo-footer img{
    height: 35px;
}



.texto-footer {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 20px 0 20px 0;
    font-weight: 600;
    letter-spacing: 4px;
}

.horarios-footer p{
    line-height: 25px;
    color: rgb(65, 65, 65);
    font-size: 1rem;
}

.horarios-footer h3{
    font-size: 1.5rem;
    color: rgb(33, 33, 33);
}

.redes-footer {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 0 auto;  
}

.redes-footer a{
    text-decoration: none;
    color: #000;
        line-height: 25px;
}

.redes-footer img {
    width: 20px;
    height: 20px;
}

.data-fiscal{
    height: 50px;
    width: 50px;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    
}



/* ====== Tablet (768px - 1023px) ====== */
@media (min-width: 768px) and (max-width: 1023px) {
        .container-footer {
    flex-direction: row;
    width: 90%;
}


.horarios-footer p{
    font-size: 1.1rem;
}

.horarios-footer h3{
    font-size: 1.3rem;
}

.col{
    text-align: center;
    padding: 25px;
    
}
}

/* ====== Base: Mobile (0 - 767px) ====== */
@media screen and (max-width: 767px) {

    .container-footer {
    flex-direction: column;
    width: 100%;
}




.texto-footer {
    margin: 10px 0 10px 0;
    font-weight: 600;
    letter-spacing: 0px;
}

.horarios-footer p{
    font-size: 0.9rem;
}

.horarios-footer h3{
    font-size: 1.2rem;
}

.col{
    text-align: center;
    padding: 20px;
    
}
}