<div class="linea">
    <hr>
</div>
<div class="container-footer">
    <div class="col">
        <div class="horarios-footer">
            <h3>Horarios de atención</h3>
            <p>Lunes a Viernes: 9:00 a 18:00 horas.</p>
            <p>Sábados: 9:00 a 13:00 horas.</p>
            <p>Domingos: Cerrado. </p>
        </div>
    </div>
    <div class="col">
        <div class="logo-footer">
            <img src="../../assets/img/ISOLOGO POSITIVOPNG.webp" alt="">
        </div>

        <div class="texto-footer">
            <p>Godoy Cruz - Mendoza - Argentina </p>
        </div>

        <div class="redes-footer">
            <img class="icon-redes" src="../../assets/img/icono-instagram.webp" alt="">
            <a href="https://www.instagram.com/itsolutionsmendoza/">Instagram</a>
        </div>

        <div class="redes-footer">
            <img class="icon-redes" src="../../assets/img/icono-email.webp" alt="">
            <a href="mailto:itsolutionmendoza@gmail.com">itsolutionmendoza@gmail.com</a>
        </div>
    </div>
    <div class="col">
   
        <a class="data-fiscal" href="http://qr.afip.gob.ar/?qr=EW0UobTVMsyOnqBV4l9LwA,," target="_F960AFIPInfo"><img class="data-fiscal" src="../../assets/img/DataWeb.webp" ></a>
    </div>


</div>

<!-- 


-->