
<section class="body">

    <div class="text-body">
        <p>COMPLETÁ EL FORMULARIO Y ENVIANOS TU CONSULTA</p>
    </div>

    <div class="card-body">

        <form class="form" action="https://formsubmit.co/itsolutionmendoza@gmail.com"
         method="POST" [formGroup]="formContacto">
         
            <div class="form-campos">
                <label for="">Nombre y Apellido / Empresa</label>
                <input type="text" formControlName="nombre" class="form-control" name="nombre">
                <div class="alert alert-danger mt-2" [hidden]="nombre.valid ||nombre.pristine">
                    <span *ngIf="nombre.errors?.['required']">Nombre y Apellido obligatorio</span>
                    <span *ngIf="nombre.errors?.['minlength']">Debe contener al menos 5 letras</span>
                </div>
            </div>

            <div class="form-campos">
                <label for="">Email</label>
                <input type="email" formControlName="email" class="form-control" name="email">

                <div class="alert alert-danger mt-2" [hidden]="email.valid || email.pristine " >
                    <span *ngIf="email.errors?.['required']">Email obligatorio</span>
                    <span *ngIf="email.errors?.['email']">Email inválido</span>
                </div>

            </div>

            <div class="form-campos">
                <label for="">Telefono</label>
                <input type="tel" name="telefono" formControlName="telefono" class="form-control">
                <div class="alert alert-danger mt-2" [hidden]="telefono.valid || telefono.pristine ">
                    <span *ngIf="telefono.errors?.['required']">Teléfono obligatorio</span>
                    <span *ngIf="telefono.errors?.['minlength'] || telefono.errors?.['maxlength']">Verifique el número
                        ingresado</span>
                    <br>
                    <span *ngIf="telefono.errors?.['pattern']">Ingresar solo números</span>
                </div>
            </div>

            <div class="form-campos">
                <label for="">Mensaje</label>
                <textarea type="text" name="mensaje" formControlName="mensaje" class="form-control mensaje"></textarea>
                <div class="alert alert-danger mt-2" [hidden]=" mensaje.valid || mensaje.pristine ">
                    <span *ngIf="mensaje.errors?.['required']">Debe completar el mensaje</span>
                    <span *ngIf="mensaje.errors?.['minlength']">Debe contener al menos 10 caracteres</span>
                </div>
            </div>


            <button  class="btn btn-primary" type="submit" (click)="onSubmit()"
            [disabled]="formContacto.invalid">Enviar</button>
        </form>
    </div>
</section>




