<section class="camaras-container">

    <div class="title-content">
        <h2>Video Seguridad</h2>
    </div>


    <!-- HTML: sección "Qué ofrecemos" -->
<section class="section">
  <div class="text-content">
    <h3>¿Qué Ofrecemos?</h3>
    <p>
      Ofrecemos una amplia gama de cámaras de seguridad para proteger tu hogar o negocio. 
      Nuestras cámaras cuentan con tecnología avanzada, incluyendo visión nocturna, detección de movimiento 
      y acceso remoto a través de aplicaciones móviles.
    </p>
  </div>

  <ul class="qs-features" role="list">
    <li>
      <img src="../../assets/img/ia.webp" alt="Analítica con IA" />
      <div>
        <strong>Analítica con IA</strong>
        <small>
          Detecta personas y vehículos con IA y Deep Learning. Modelos con alarmas visuales 
          y de audio para respuestas en tiempo real.
        </small>
      </div>
    </li>
    <li>
      <img src="../../assets/img/calidad.webp" alt="Calidad" />
      <div>
        <strong>Calidad</strong>
        <small>
          Balance perfecto entre calidad y precio. Cámaras con funciones inteligentes 
          y gran facilidad de uso a precios muy accesibles.
        </small>
      </div>
    </li>
    <li>
      <img src="../../assets/img/dia-noche.webp" alt="Imágenes en color 24/7" />
      <div>
        <strong>Imágenes en color 24/7</strong>
        <small>
          Imágenes a color en entornos oscuros. Reducción de ruido con IA para mejorar 
          la nitidez en imágenes en movimiento y detalles estáticos.
        </small>
      </div>
    </li>
    <li>
      <img src="../../assets/img/urbano.webp" alt="Escenarios de aplicación" />
      <div>
        <strong>Escenarios de aplicación</strong>
        <small>
          Implementamos sistemas de seguridad adaptados a entornos residenciales, comerciales e industriales. 
          Cada proyecto se diseña de forma personalizada según tus necesidades.
        </small>
      </div>
    </li>
    <li>
      <img src="../../assets/img/transporte.webp" alt="Soluciones para el transporte" />
      <div>
        <strong>Soluciones para el transporte</strong>
        <small>
          La seguridad es clave para proteger a pasajeros, conductores y activos. 
          Monitorea en tiempo real el interior y exterior de buses, camiones y vehículos de carga, 
          con visión 360° para mayor control operativo.
        </small>
      </div>
    </li>
  </ul>
    <div class="cta-container">
    <a class="cta-button" (click)="abrirWhatsApp()">Solicitar asesoría gratuita</a>
  </div>
</section>

    <div class="carusel-servicio">
        <app-carusel [items]="imagenesCamaras"></app-carusel>
    </div>

</section>