/* You can add global styles to this file, and also import other style files */

body{
   /* background: rgba(123,237,1800,0.1);
    background: linear-gradient(0deg, rgba(123,237,180,1) 0%, rgba(75,187,252,1) 100%);*/
    /*background: linear-gradient(to bottom left,  rgb(67, 184, 252),rgb(216, 216, 216));*/
    /*background: linear-gradient(135deg, #2196F3, #c1e5ff);*/
    background: #FFF;
  
}




:root{
    --main-color:#0B70B7;
    --secundary-color:#5087AE;
    --background-secundary:#77A0BD;
    --background-color: #485259;      
}



/* Reinicio CSS básico */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* Ajuste de márgenes para elementos HTML5 */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

