<section class="control-container">

    <div class="title-content">
        <h2>Control de Acceso</h2>
    </div>

    <section class="section">
    <div class="text-content">
        <h3>¿Qué ofrecemos?</h3>
        <p>
            Los sistemas de control de acceso permiten restringir el ingreso a áreas sensibles, asegurando que sólo
            personas autorizadas accedan en el momento indicado.
            Desde lectores de tarjetas básicos hasta terminales biométricos con reconocimiento facial, huella
            digital o autenticación mixta, diseñamos soluciones según tus necesidades.
        </p>
    </div>

    <ul class="qs-features" role="list">
        <li>
            <img src="../../assets/img/facial.webp" alt="Reconocimiento facial" />
            <div>
                <strong>Reconocimiento Facial</strong>
                <small>
                    Equipos con algoritmos de deep learning, detección anti-spoofing y capacidad
                    para funcionar incluso con mascarilla. Autenticación rápida y segura.
                </small>
            </div>
        </li>
        <li>
            <img src="../../assets/img/huella.webp" alt="Autenticación de huella digital" />
            <div>
                <strong>Huella Digital y Métodos Biométricos</strong>
                <small>
                    Terminales con huella, palma o combinación biométrica para mayor precisión. Ideal para áreas con
                    necesidad de alta seguridad.
                </small>
            </div>
        </li>
        <li>
            <img src="../../assets/img/tarjeta.webp" alt="Lector de tarjetas" />
            <div>
                <strong>Lector de Tarjetas / RFID / PIN</strong>
                <small>
                    Equipos standalone o integrados usando tarjetas RFID, PIN o código, compatibles con protocolos
                    estándares como Wiegand. Óptimo para oficinas, industrias y hogares.
                </small>
            </div>
        </li>
        <li>
            <img src="../../assets/img/agua.webp" alt="Protección IP / Exterior" />
            <div>
                <strong>Protección IP y Exterior</strong>
                <small>
                    Modelos con certificaciones como IP65 / IP66 que resisten agua, polvo y condiciones exigentes.
                    Perfectos para exteriores.
                </small>
            </div>
        </li>
        <li>
            <img src="../../assets/img/visitante.webp" alt="Gestión de visitantes" />
            <div>
                <strong>Gestión de Visitantes y Control Remoto</strong>
                <small>
                    Terminales que permiten administrar usuarios, visitas y accesos remotos mediante software o
                    apps. Alertas y reportes en tiempo real.
                </small>
            </div>
        </li>
        <li>
            <img src="../../assets/img/horario.webp" alt="Alta capacidad de usuarios" />
            <div>
                <strong>Control de horario y asistencia</strong>
                <small>
                    Soluciones biometricas para gestionar horarios laborales, turnos y asistencia del personal.
                </small>
            </div>
        </li>
    </ul>

    <div class="cta-container">
        <a (click)="abrirWhatsApp()" class="cta-button">Solicitar asesoramiento gratuito</a>
    </div>
</section>
</section>

<div class="carusel-servicio">
    <app-carusel [items]="imagenesControl"></app-carusel>
</div>